<ion-view hide-nav-bar="true" hide-back-button="true" view-title="lista edit mode">

  <ion-content class="tutorial">
  	<ion-slide-box show-pager="true" ng-init="" on-slide-changed="" ng-class="'slide-'+slideIndex">

		<ion-slide class="slideBoxes slidebox0">

			<div class="tutorialWrapper">
				<div class="logo"></div>
				<div class="titulo">
					<span id="ola">Olá,</span>
					sou seu assistente virtual Awapé
				</div>
				<div class="textoHolder">
					<p>Obrigado por se interessar em entender um pouco mais sobre seu <span>rastro no planeta</span></p>
					<p>Vou passar rapidinho pelas coisas que posso te apresentar</p>
					<div class="botao">Vamos lá ></div>
				</div>
			</div>

		</ion-slide>

		<ion-slide class="slideBoxes slidebox1">

			<div class="tutorialWrapper">
				<div class="textoHolder">
					<p>Aqui é onde vamos começar a calcular sua pegada</p>
					<p>É só me dizer um pouco mais sobre seu estilo de vida</p>
					<p>É rapidinho, prometo! ;)</p>
				</div>
				<div class="botao">Próximo ></div>
			</div>

		</ion-slide>

   	</ion-slide-box>
  </ion-content>
</ion-view>
