<ion-view hide-nav-bar="true" hide-back-button="true" view-title="lista edit mode">

  <ion-content class="tutorial">
  	<ion-slide-box show-pager="true" ng-init="" on-slide-changed="" ng-class="'slide-'+slideIndex">

		<ion-slide class="slidebox0">

			<div class="tutorialWrapper" style="background: blue; width:100%; height:100%;">
				
			</div>

		</ion-slide>

		<ion-slide class="slidebox1">

			<div class="tutorialWrapper" style="background: black; width:100%; height:100%;">
				
			</div>

		</ion-slide>

   	</ion-slide-box>
  </ion-content>
</ion-view>
