<ion-view hide-nav-bar="true" hide-back-button="true" view-title="lista edit mode">

  <ion-content class="tutorial">
  	<ion-slide-box show-pager="true" ng-init="" on-slide-changed="" ng-class="'slide-'+slideIndex">

		<ion-slide class="slideBoxes slidebox0">

			<div class="tutorialWrapper">
				<div class="logo"></div>
				<div class="titulo">
					<span id="ola">Olá,</span>
					sou seu assistente virtual Awapé!
				</div>
				<div class="textoHolder">
					<p>Obrigado por se interessar em entender um pouco mais sobre seu <span>rastro no planeta.</span></p>
					<p>Vou passar rapidinho pelas coisas que posso te apresentar.</p>
					<div class="botao">Vamos lá ></div>
				</div>
			</div>

		</ion-slide>

		<ion-slide class="slideBoxes slidebox1">

			<div class="tutorialWrapper">
				<div class="textoHolder">
					<p>Aqui é onde vamos começar a calcular sua pegada.</p>
					<p>É só me dizer um pouco mais sobre seu estilo de vida.</p>
					<p>É rapidinho, prometo! ;)</p>
				</div>
				<div class="botao">Próximo ></div>
			</div>

		</ion-slide>

		<ion-slide class="slideBoxes slidebox2">

			<div class="tutorialWrapper">
				<div class="textoHolder">
					<p>Depois de calcular sua pegada, vamos editar sua lista de compras pra deixar do seu jeitinho...</p>
					<p>Só disponibilizei alimentos nessa lista por enquanto, já que o que você come reflete a maior porcentagem do seu rastro, ok?</p>
				</div>
				<div class="botao">Próximo ></div>
			</div>

		</ion-slide>

		<ion-slide class="slideBoxes slidebox3">

			<div class="tutorialWrapper">
				<div class="textoHolder">
					<p>Com isso, já mostro na sua tela principal sua pegada hidríca e o total da lista!</p>
				</div>
				<div class="botao">Próximo ></div>
			</div>

		</ion-slide>

		<ion-slide class="slideBoxes slidebox4">

			<div class="tutorialWrapper">
				<div class="textoHolder">
					<p><span id="ah">Ah,</span> eu calculo <span>todo mês</span> a sua pegada hídrica atráves da lista.</p>
					<p>Então, toda vez que for comprar algo, adicione na lista, <span>quantas vezes for necessário.</span></p>
					<p>Assim consigo passar certinho pra você o que cada item que você consumiu gasta de água em sua produção.</p>
					
				</div>
				<div class="botao">Próximo ></div>
			</div>

		</ion-slide>

		<ion-slide class="slideBoxes slidebox5">

			<div class="tutorialWrapper">
				<div class="textoHolder">
					<p>Assim que incluir um item na lista por um desses botões</p>
					<p>Irei analisá-lo e, se tiver algum outro produto parecido que tenha uma pegada menor, eu te indico desse jeito aqui</p>
					<p>Ai é só clicar na setinha que te mostro tudo sobre esse produto que você escolheu e minhas recomendações também! ;)</p>
				</div>
				<div class="botao">Iniciar o App</div>
			</div>

		</ion-slide>

   	</ion-slide-box>
  </ion-content>
</ion-view>
