<ion-view hide-nav-bar="true" hide-back-button="true" view-title="product-detail">
  <ion-content class="produto">

  	<a href="#/tab/list" class="voltarLink">
		<div class="voltarLista">
	   	</div>
	</a>

	<div class="fotoWrapper">
		<div class="fotoProduto"></div>
	</div>
	<div class="infosProduto">
		<div class="nomeProduto"></div>
		<div class="gastoProduto">
			<span id="litrosGastos"></span>
		</div>
		<div class="tiposAgua">
			<div class="aguaIndividual" id="aguaAzul">
				<div class="icon"></div>
				<div class="bgIcon"></div>
				<div class="valor">
					<span id="porcentagemAgua"></span>
				</div>
			</div>
			<div class="aguaIndividual" id="aguaVerde">
				<div class="icon"></div>
				<div class="bgIcon"></div>
				<div class="valor">
					<span id="porcentagemAgua"></span>
				</div>
			</div>
			<div class="aguaIndividual" id="aguaCinza">
				<div class="icon"></div>
				<div class="bgIcon"></div>
				<div class="valor">
					<span id="porcentagemAgua"></span>
				</div>
			</div>
		</div>
	</div>

	<div class="recomendacao">
		<div class="titulo"></div>
		<div class="produtoRecom">
			<div class="fotoWrapper">
				<div class="fotoProduto"></div>
			</div>
			<div class="infosProduto">
				<div class="gastoProduto">
					<span id="litrosGastos"></span>
				</div>
				<div class="diferencaProds">
					<span id="litrosDiferenca"></span>
				</div>
				<div class="nomeProduto"></div>
			</div>
		</div>
	</div>

  </ion-content>
</ion-view>
