<ion-view hide-nav-bar="true" hide-back-button="true" view-title="product-detail">
  <ion-content class="produto">

  	<a href="#/tab/list" class="voltarLink">
		<div class="voltarLista">< Voltar para a Lista
	   	</div>
	</a>

	<div class="produtoWrapper">
		<div class="fotoWrapper">
			<div class="fotoProduto"></div>
		</div>
		<div class="infosProduto">
			<div class="nomeProduto">Pizza</div>
			<div class="gastoProduto">
				<span id="litrosGastos">1250</span> litros/ano
			</div>
			<div class="tiposAgua">
				<div class="aguaIndividual" id="aguaAzul">
					<div class="icon"></div>
					<div class="bgIcon"></div>
					<div class="valor">
					<div class="tipoAgua">Água Azul</div>
						<span id="porcentagemAgua">15</span>%
					</div>
				</div>
				<div class="aguaIndividual" id="aguaVerde">
					<div class="icon"></div>
					<div class="bgIcon"></div>
					<div class="valor">
					<div class="tipoAgua">Água Verde</div>
						<span id="porcentagemAgua">50</span>%
					</div>
				</div>
				<div class="aguaIndividual" id="aguaCinza">
					<div class="icon"></div>
					<div class="bgIcon"></div>
					<div class="valor">
					<div class="tipoAgua">Água Cinza</div>
						<span id="porcentagemAgua">35</span>%
					</div>
				</div>
				<div class="infoAgua" id="infoAzul">
					<div class="titulo">Água Azul</div>
					<div class="texto">Esse número indica o quanto dessa água foi proveniente de recursos superficiais ou subterrâneas e foi evaporada ou incorporada em um produto ou retirada de um corpo de água e voltou para outro, ou devolvido em um horário diferente. A agricultura irrigada, indústria e uso doméstico de água podem ter uma pegada de água azul.</div>
				</div>
				<div class="infoAgua" id="infoVerde">
					<div class="titulo">Água Verde</div>
					<div class="texto">Esse número é resultado da água de precipitação que é armazenada na zona da raiz do solo e evaporada, transpirada ou incorporada por plantas. É particularmente relevante para os produtos agrícolas, hortícolas e florestais.</div>
				</div>
				<div class="infoAgua" id="infoCinza">
					<div class="titulo">Água Cinza</div>
					<div class="texto">Esse número indica a quantidade de água doce necessária para assimilar poluentes para atender aos padrões específicos de qualidade da água. Isso considera a poluição descarregada do ponto de origem para um recurso de água doce diretamente através de um tubo ou indiretamente através de escoamento ou lixiviação do solo, superfícies impermeáveis, ou de outras fontes difusas.</div>
				</div>
			</div>
		</div>

		<div class="recomendacao">
			<div class="titulo">Recomendações</div>
			<div class="produtoRecom">
				<div class="fotoWrapper">
					<div class="fotoProduto"></div>
				</div>
				<div class="infosProduto">
					<div class="nomeProduto">Hamburguer</div>
					<div class="gastoProduto">
						<span id="litrosGastos">2000</span>
						 litros/ano
					</div>
					<div class="diferencaProds">menos 
						<span id="litrosDiferenca">800</span> litros
					</div>
				</div>
			</div>
			<div class="produtoRecom">
				<div class="fotoWrapper">
					<div class="fotoProduto"></div>
				</div>
				<div class="infosProduto">
					<div class="nomeProduto">Frango</div>
					<div class="gastoProduto">
						<span id="litrosGastos">1500</span>
						 litros/ano
					</div>
					<div class="diferencaProds">menos 
						<span id="litrosDiferenca">800</span> litros
					</div>
				</div>
			</div>
			<div class="produtoRecom">
				<div class="fotoWrapper">
					<div class="fotoProduto"></div>
				</div>
				<div class="infosProduto">
					<div class="nomeProduto">Frango</div>
					<div class="gastoProduto">
						<span id="litrosGastos">1500</span>
						 litros/ano
					</div>
					<div class="diferencaProds">menos 
						<span id="litrosDiferenca">800</span> litros
					</div>
				</div>
			</div>
		</div>

		<div class="trocaProdutoWrapper">
			<div class="trocaProduto">
				<div class="titulo">Troca de Produto</div>
				<div class="texto">Você deseja trocar 
					<span id="itemTrocado">café</span>
					 por 
					<span id="itemRecomendado">chá</span>?
				</div>
				<div class="botoes">
					<div class="botao" id="nao">Não</div>
					<div class="botao" id="sim">Sim</div>
				</div>
			</div>
		</div>
	</div>
  </ion-content>
</ion-view>
