<ion-view hide-nav-bar="true" hide-back-button="true" view-title="product-detail" cache-view="false">
<a href="#/tab/list" class="voltarLink"></a>
  <ion-content class="produtoPage">  	

	<div class="produtoWrapper">
		<div class="fotoWrapper">
			<div class="fotoProduto" ng-style="{'background-image':'url(' +getProductImage(productId) +')'}" style="background-image:url({{getProductImage(productId)}});"></div>
		</div>
		<div class="infosProduto">
			<div class="nomeProduto">{{getProductName(productId)}}</div>
			<div class="gastoProduto">
				<span id="litrosGastos">{{getProductFootprint(productId)}} por {{getProductUnity(productId)}}</span>
			</div>
			<div class="tiposAgua">
				<div class="aguaIndividual" id="aguaAzul">
					<div class="icon"></div>
					<div class="bgIcon"></div>
					<div class="valor">
					<div class="tipoAgua">Água Azul</div>
						<span id="porcentagemAgua">{{getBlueWater(productId)}}</span>%
					</div>
				</div>
				<div class="aguaIndividual" id="aguaVerde">
					<div class="icon"></div>
					<div class="bgIcon"></div>
					<div class="valor">
					<div class="tipoAgua">Água Verde</div>
						<span id="porcentagemAgua">{{getGreenWater(productId)}}</span>%
					</div>
				</div>
				<div class="aguaIndividual" id="aguaCinza">
					<div class="icon"></div>
					<div class="bgIcon"></div>
					<div class="valor">
					<div class="tipoAgua">Água Cinza</div>
						<span id="porcentagemAgua">{{getGreyWater(productId)}}</span>%
					</div>
				</div>
				
			</div>
		</div>

		<div class="recomendacao" ng-if="productRecomentations">
			<div class="titulo">Recomendações</div>
			<div>Temos algumas recomendações para ajudá-lo a diminuir sua pegada hídrica: </div>
			<div class="produtoRecom" ng-repeat="item in productRecomentations">
				<div ng-click="changeProductBox(item)">	
					<div class="fotoWrapper">
						<div class="fotoProduto" ng-style="{'background-image':'url(' +getProductImage(item) +')'}" style="background-image:url({{getProductImage(item)}});"></div>
					</div>
					<div class="infosProduto">
						<div class="nomeProduto">{{getProductName(item)}}</div>
						<div class="gastoProduto">
							<span id="litrosGastos">{{getProductFootprint(item)}}</span>
							 litros
						</div>
						<div class="diferencaProds">menos 
							<span id="litrosDiferenca">{{calcDifference(getProductFootprintNumber(productId),getProductFootprintNumber(item))}}</span> litros
						</div>
					</div>
				</div>
			</div>
		</div>

		

		<div class="adicionaProdutoConfirmation">
	    	<div class="texto">Item trocado com sucesso :)</div>
	    </div>
	</div>
  </ion-content>
  <div class="trocaProdutoWrapper">
		<div class="trocaProduto">
			<div class="titulo">Trocar Produto?</div>
			<div class="texto">Você deseja trocar 
				<span id="itemTrocado">{{getProductName(productId)}}</span>
				 por 
				<span id="itemRecomendado">{{getNewName()}}</span>?
			</div>
			<div class="botoes">
				<div class="botao" id="nao">Não</div>
				<div class="botao" id="sim" ng-click="changeProduct()">Sim</div>
			</div>
		</div>
  </div>

  <div class="adicionaProdutoConfirmation">
    <div class="texto">Item trocado com sucesso :)</div>
  </div>

  <div class="loader-app">
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
      <div class="loading-text">Carregando</div>
    </div>
  </div>

  <div class="infoAgua" id="infoAzul">
	<div class="titulo">Água Azul</div>
	<div class="texto">Esse número indica o quanto dessa água refere-se ao uso consuntivo das águas superficiais e subterrâneas.</div>
  </div>
  <div class="infoAgua" id="infoVerde">
	<div class="titulo">Água Verde</div>
	<div class="texto">Esse número refere-se ao consumo de água da chuva que não é incorporada ao escoamento ou recarrega as águas subterrâneas, ou seja, é transpirada ou evaporada a partir da vegetação.</div>
  </div>
  <div class="infoAgua" id="infoCinza">
	<div class="titulo">Água Cinza</div>
	<div class="texto">Esse número é definido como o volume de água doce necessário para adequar a carga de poluentes, que excede as concentrações naturais e os padrões ambientais de qualidade da água existentes para o local de despejo.</div>
  </div>
</ion-view>
