<ion-view hide-nav-bar="true" hide-back-button="true" view-title="search" cache-view="false">
<a href="#/tab/list" class="voltarLink"></a>
  <ion-content class="buscaPage">
  	<form action="" class="buscaForm">
		<input type="text" class="buscaField" name="buscaField" placeholder="O que você deseja incluir na lista?" ng-model="search">
		<div class="iconsWrapper">
      		<div class="icon" id="buscaIcon"></div>
      	</div>
	</form>

	<ul class="listaBusca listaNotChecked" id="listaBox" >

       <li class="produtoBusca" ng-if="search" ng-repeat="item in filteredItems = (listItens | filter:search)" on-last-repeat-search>
	      <ul class="pecasLista">
	        <li class="checkWrapper">
	          <input type="checkbox" class="check" ng-click="addItem(item.id,addAmount, search)"/>
	          <label></label>
	        </li>
	          <li class="nomeProduto">{{item.produto}}</li>
	          <li class="qntdWrapper">
	            <form action="">
	              <!-- como capturar a informação desde campo e como passar como parâmetro para calcular a pegada hídrica? -->
	              <input type="text" class="qntdInput" name="qntdInput[]" ng-model="addAmount" ng-init="addAmount = 1" maxlength="4">
	            </form>
	          </li>
	          <li class="unid"><span id="unidPadrao">{{item.unidade}}</span></li>
	        <a href="#/tab/product-detail" class="produtoLink" ng-click="">
	          <li class="gastoProduto"><span ng-bind="waterFootprint(item.id,addAmount)"></span> lts</li>
	        </a>
	      </ul>
	    </li>
	    <li ng-show='filteredItems.length === 0'> não tem nada carai</li>
 
  </ul>
	
  </ion-content>
</ion-view>
