<ion-view hide-nav-bar="true" view-title="Home" cache-view="false">
  <ion-content class="padding">

	<div class="saudacao">
		<div class="fotoWrapper">
			<div class="fotoUsuario" style="background-image:url({{getImage}});"></div>
		</div>
		<div class="nome">Olá, <span id="nomeUsuario">{{getName}}</span>
		</div>
	</div>

	<li ng-repeat="item in userList" class="display-none">
      <ul>
          <li ><span ng-bind="waterFootprint(item.idProduto,item.quantidade,item.checked)"></span> lts</li>
      </ul>
    </li>

    <div class="titulo" id="tituloTotais">Seu rastro no planeta</div>
	<div class="totais box">
		<ul class="total" id="totalLista">
			<li class="icon"></li>
			<li class="dados">
				<div class="titulo">Água virtual dos itens comprados:</div>
				<div class="valor"><span ng-bind="getListTotal()"></span></div>
			</li>
		</ul>
		<ul class="total" id="totalPHP">
			<li class="icon"></li>
			<li class="dados">
				<div class="titulo">Sua pegada hídrica anual:</div>
				<div class="valor"><span ng-bind="getWaterFootprintTotal()"></span></div>
				<div class="diferenca"><span id="porcent"></span>% <span id="bomOuRuim"></span> da média nacional</div>
			</li>
		</ul>
	</div>

	<div class="titulo" id="tituloDicas">Minhas Dicas</div>

	<div class="withoutTips box" style="display: none;">
		Estou sem dicas para você no momento.
	</div>

	<div class="tips-container slidedown" id="Slider">
		<div class="dicasWrapper box" ng-repeat="item in userListTips" ng-show="recomendationsLength(item.idProduto) && item.checked==false" on-last-repeat-home>
			<ul class="dica">
				<li class="dicaTexto">
					<span id="economia">Economize  
					<span id="litros" ng-bind="calcDifference(getProductFootprintNumber(item.idProduto),getProductFootprintNumber(getProductRecomentation(item.idProduto)))"></span> 
					litros</span>
					de água em um ano por cada 
					<span class="produto" ng-bind="getProductUnity(item.idProduto)"></span>.
				</li>
				<li class="imagens clearfix" ng-click="changeProductBox(item.idProduto,item.index,getProductRecomentation(item.idProduto))">
					<div class="imgDicas" id="img01" ng-style="{'background-image':'url(' +getProductImage(item.idProduto) +')'}">
					</div>
					
					<div class="icon" id="troca"></div>
					<div class="imgDicas" id="img02" ng-style="{'background-image':'url(' +getProductImage(getProductRecomentation(item.idProduto)) +')'}">
					</div>
				</li>
				<li class="cf">
					<div class="display-table">
						<div>
							<span class="produtoNome" id="itemTrocado" ng-bind="productName(item.idProduto)"></span>
						</div>
						<div>
							<span class="produtoNome" id="itemRecomendado" ng-bind="productName(getProductRecomentation(item.idProduto))"></span>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="tips-show-button">
			<!-- <i class="icon ion-ios-arrow-down"></i> -->
			<i class="icon ion-ios-arrow-down"></i>
	</div>

	<!-- <div class="dicasWrapper box">
		<ul class="dica">
			<li class="dicaTexto">Que tal trocar
				<span class="produto" id="itemTrocado">café</span>
				 por 
				<span class="produto" id="itemRecomendado">chá</span>? Assim você 
				<span id="economia">economiza <span id="litros">1000</span> litros</span>
				de água em um ano.
			</li>
			<li class="imagens clearfix">
				<div class="imgDicas" id="img01"></div>
				<div class="icon" id="troca"></div>
				<div class="imgDicas" id="img02"></div>
			</li>
		</ul>
	</div> -->

  </ion-content>

  <div class="loader-app">
  	<div class="spinner">
	  <div class="double-bounce1"></div>
	  <div class="double-bounce2"></div>
	  <div class="loading-text">Carregando</div>
	</div>
  </div>

    <div class="trocaProdutoWrapper">
		<div class="trocaProduto">
			<div class="titulo">Trocar Produto?</div>
			<div class="texto">Você deseja trocar 
				<span id="itemTrocado" ng-bind="productName(oldItem)"></span>
				 por 
				<span id="itemRecomendado" ng-bind="productName(itemClicado)"></span>?
			</div>
			<div class="botoes">
				<div class="botao" id="nao">Não</div>
				<div class="botao" id="sim" ng-click="changeProduct()">Sim</div>
			</div>
		</div>
  </div>

  <div class="adicionaProdutoConfirmation">
    <div class="texto">Item trocado com sucesso :)</div>
  </div>
</ion-view>