<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Consumo">
  <ion-content class="minhaPegada" >
	<ion-slide-box show-pager="false" ng-init="disableSwipe()" on-slide-changed="slideChanged(index)" ng-class="'slide-'+slideIndex" style="height:550px;">

		<ion-slide class="slidebox0">
			<div class="pageWrapper">
				<div class="tituloCategoria">Higiene</div>
				<div class="perguntaWrapper">
					<div class="pergunta">Quanto tempo você gasta no <span class="produto">banho</span>?
						<span class="unidade">minutos / dia</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="banho" placeholder="Ex: 2 banhos de 15min = 30">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">Quantas vezes você <span class="produto">escova os dentes</span>?
						<span class="unidade">vezes / dia</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="dente">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				
				<div class="resultadoCategoria" id="totalHigiene">Total de higiene: <br/><span id="litrosCategoria"></span> litros/ano</div>

				<button class="button button-icon icon ion-navicon next centerButton" ng-click="nextSlide()"></button>
			</div>
		</ion-slide>

		<ion-slide class="slidebox1">
			<div class="pageWrapper">
				<div class="tituloCategoria">Limpeza</div>
				<div class="perguntaWrapper">
					<div class="pergunta">Com que frequência você <span class="produto">lava a roupa</span>?
						<span class="unidade">vezes / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="roupa">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">Com que frequência você <span class="produto">lava a louça</span>?
						<span class="unidade">vezes / dia</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="louca">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">Com que frequência você <span class="produto">lava o carro</span>?
						<span class="unidade">vezes / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="carro">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">Com que frequência você <span class="produto">rega o jardim</span>?
						<span class="unidade">vezes / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="jardim">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">Quanto tempo você gasta <span class="produto">lavando a calçada</span>?
						<span class="unidade">minutos / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="calcada">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>

				<div class="resultadoCategoria" id="totalLimpeza">Total de limpeza: <br/><span id="litrosCategoria"></span> litros/ano</div>

				<button class="button button-icon icon ion-navicon previous leftButton" ng-click="prevSlide()"></button>
				<button class="button button-icon icon ion-navicon next centerButton hasLeft" ng-click="nextSlide()"></button>
			</div>
		</ion-slide>

		<ion-slide class="slidebox2">
			<div class="pageWrapper">
				<div class="tituloCategoria">Alimentos</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">cereal</span>?
						<span class="unidade">gramas / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="cereal" placeholder="Ex: Meio quilo = 500">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">carne</span>?
						<span class="unidade">gramas / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="carne" placeholder="Ex: Meio quilo = 500">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">laticíneos</span>?
						<span class="unidade">gramas / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="laticineo" placeholder="Ex: Meio quilo = 500">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">ovos</span>?
						<span class="unidade">unidades / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="ovo">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">vegetais</span>?
						<span class="unidade">gramas / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="vegetais" placeholder="Ex: Meio quilo = 500">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">frutas</span>?
						<span class="unidade">gramas / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="fruta" placeholder="Ex: Meio quilo = 500">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">raízes (batata / mandioca)</span>?
						<span class="unidade">gramas / semana</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="raiz" placeholder="Ex: Meio quilo = 500">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">café</span>?
						<span class="unidade">xícaras / dia</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="cafe">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">chá</span>?
						<span class="unidade">xícaras / dia</span>
					</div>
					<form action="">
						<input type="number" class="resposta" name="resposta[]" id="cha">
						<div class="resultadoItem"><span id="litrosItem">50000</span>litros/ano</div>
					</form>
				</div>

				<div class="resultadoCategoria" id="totalAlimento">Total de alimentos: <br/><span id="litrosCategoria"></span> litros/ano</div>

				<button class="button button-icon icon ion-navicon previous leftButton" ng-click="prevSlide()"></button>
				<button class="button button-icon icon ion-navicon finish centerButton hasLeft " ng-click="submitAll()"></button>
			</div>
		</ion-slide>

	</ion-slide-box>

    <a href="#/tab/consumo-edit-mode" class="display-none">Consumo Edit mode</a>
    
  </ion-content>
</ion-view>