<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Histórico">
  <ion-content>
    <div class="topo fixed">
  		<h1>Histórico</h1>
  	</div>

  	<ul class="historyContainer">
  		<li class="historyWrapper" ng-repeater="item in history">
  			<div class="gambs"></div>
  			<ul class="lista">
  				<li class="tituloMes">{{monthName(item)}}</li>
  				<li class="dados">
  					<ul class="dadosTotalCompra">
  						<div class="titulo">Total de suas compras:</div>
  						<div class="valor"><span id="litros">1200</span> litros</div>
  					</ul>
  				</li>
  				<li class="itemHistory">
  					<ul class="informacao">
  						<li class="icon" id="iconPositivo"></li>
  						<li class="infoTexto">
  							<span id="mudancaPositiva">Diminuiu</span>
  							 o total de compras em 
  							<span id="litros">1000</span>
  							litros
  						</li>
  					</ul>
  					<ul class="informacao">
  						<li class="icon" id="iconPositivo"></li>
  						<li class="infoTexto">
  							<span id="mudancaPositiva">Diminuiu</span>
  							 o total de compras em 
  							<span id="litros">1000</span>
  							litros
  						</li>
  					</ul>
  				</li>
  			</ul>
  			<div class="bolinhaHistory"></div>
  		</li>
  		<!-- <li class="historyWrapper">
  			<div class="gambs"></div>
  			<ul class="lista">
  				<li class="tituloMes">Outubro</li>
  				<li class="dados">
  					<ul class="dadosTotalCompra">
						<div class="titulo">Total de suas compras:</div>
						<div class="valor"><span id="litros">1200</span> litros</div>
					</ul>
				</li>
  				<li class="itemHistory">
  					<ul class="informacao">
  						<li class="icon" id="iconNegativo"></li>
  						<li class="infoTexto">
  							<span id="mudancaNegativa">Aumentou</span>
  							 o total de compras em 
  							<span id="litros">1000</span>
  							litros
  						</li>
  					</ul>
  				</li>
  			</ul>
  			<div class="bolinhaHistory"></div>
  		</li> -->
  	</ul>
  </ion-content>
</ion-view>
