<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Consumo">
  <ion-content>
	<ion-slide-box show-pager="false">

  		<ion-slide>

			<div class="pageWrapper">
				<div class="tituloCategoria">Alimentos</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">cereal</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">carne</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">laticíneos</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">ovos</span>?
						<span class="unidade">unidades / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">vegetais</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">frutas</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">raízes (batata / mandioca)</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">café</span>?
						<span class="unidade">xícaras / dia</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">chá</span>?
						<span class="unidade">xícaras / dia</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
			</div>

			<button class="button button-icon icon ion-navicon" ng-click="nextSlide()"></button>
		</ion-slide>
		<ion-slide>
			<div class="pageWrapper">
				<div class="tituloCategoria">Alimentos</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">cereal</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">carne</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">laticíneos</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">ovos</span>?
						<span class="unidade">unidades / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">vegetais</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">frutas</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">raízes (batata / mandioca)</span>?
						<span class="unidade">kgs / semana</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">café</span>?
						<span class="unidade">xícaras / dia</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
				<div class="perguntaWrapper">
					<div class="pergunta">O quanto você consome de <span class="produto">chá</span>?
						<span class="unidade">xícaras / dia</span>
					</div>
					<form action="">
						<input type="text" class="resposta" name="resposta" value="">
					</form>
				</div>
			</div>

			<button class="button button-icon icon ion-navicon" ng-click="prevSlide()"></button>
		</ion-slide>
	</ion-slide-box>

    <a href="#/tab/consumo-edit-mode" class="display-none">Consumo Edit mode</a>
    
  </ion-content>
</ion-view>
