<ion-view view-title="Lista">
  <ion-content class="paginaLista">
  <div class="topo fixed">
  	<h1>Lista de compras</h1>
  	<div class="iconEditar"></div>
  </div>
  <ul class="lista">
  	<li class="produto">
  		<ul class="pecasLista">
  			<li class="check"></li>
  			<li class="nomeProduto">Cerveja 600ml</li>
  			<li class="qntd">6</li>
  			<li class="unid"><span id="unidPadrao">un</span></li>
  			<li class="gastoProduto">1200 lts</li>
  		</ul>
  	</li>
  	<li class="produto">
  		<ul class="pecasLista">
  			<li class="check"></li>
  			<li class="nomeProduto">Cerveja 600ml</li>
  			<li class="qntd">6</li>
  			<li class="unid"><span id="unidPadrao">un</span></li>
  			<li class="gastoProduto">1200 lts</li>
  		</ul>
  	</li>
  	<li class="produto">
  		<ul class="pecasLista">
  			<li class="check"></li>
  			<li class="nomeProduto">Cerveja 600ml</li>
  			<li class="qntd">6</li>
  			<li class="unid"><span id="unidPadrao">un</span></li>
  			<li class="gastoProduto">1200 lts</li>
  		</ul>
  	</li>
  </ul>
    
  </ion-content>
</ion-view>
