<ion-view view-title="Home">
  <ion-content class="padding">

	<div class="saudacao">
		<div class="fotoWrapper">
			<div class="foto"></div>
		</div>
		<div class="nome">Olá, Silvianmamn!</div>
	</div>

	<div class="titulo" id="tituloTotais">Totais do mês</div>
	<div class="totais box">
		<ul class="total" id="totalLista">
			<li class="icon"></li>
			<li class="dados">
				<div class="titulo">Água virtual de suas compras:</div>
				<div class="valor">1200 l</div>
			</li>
		</ul>
		<ul class="total" id="totalPHP">
			<li class="icon"></li>
			<li class="dados">
				<div class="titulo">Sua pegada hídrica pessoal:</div>
				<div class="valor">15203 l</div>
			</li>
		</ul>
	</div>

	<div class="titulo" id="tituloDicas">Dicas</div>
	<div class="dicasWrapper box">
		<ul class="dica">
			<li class="dicaTexto">Que tal trocar
				<span id="item">café</span>
				 por 
				<span id="item">chá</span>? Assim você 
				<span id="economia">economiza 1000 l</span>
				de água.
			</li>
			<li class="imagens">
				<div class="imgDicas" id="img01"></div>
				<div class="icon" id="troca"></div>
				<div class="imgDicas" id="img02"></div>
			</li>
		</ul>
	</div>

  </ion-content>
</ion-view>
