<ion-view view-title="Home">
  <ion-content class="padding">

	<div class="saudacao">
		<div class="fotoWrapper">
			<div class="fotoUsuario"></div>
		</div>
		<div class="nome">Olá, <span id="nomeUsuario">Silvianmamn!</span></div>
	</div>

	<div class="titulo" id="tituloTotais">Totais do mês</div>
	<div class="totais box">
		<ul class="total" id="totalLista">
			<li class="icon"></li>
			<li class="dados">
				<div class="titulo">Água virtual de suas compras:</div>
				<div class="valor"><span id="litros">1200</span> litros</div>
			</li>
		</ul>
		<ul class="total" id="totalPHP">
			<li class="icon"></li>
			<li class="dados">
				<div class="titulo">Sua pegada hídrica pessoal:</div>
				<div class="valor"><span id="litros">15203</span> litros</div>
			</li>
		</ul>
	</div>

	<div class="titulo" id="tituloDicas">Dicas</div>
	<div class="dicasWrapper box">
		<ul class="dica">
			<li class="dicaTexto">Que tal trocar
				<span class="produto" id="itemTrocado">café</span>
				 por 
				<span class="produto" id="itemRecomendado">chá</span>? Assim você 
				<span id="economia">economiza <span id="litros">1000</span> litros</span>
				de água em um ano.
			</li>
			<li class="imagens clearfix">
				<div class="imgDicas" id="img01"></div>
				<div class="icon" id="troca"></div>
				<div class="imgDicas" id="img02"></div>
			</li>
		</ul>
	</div>
  </ion-content>
</ion-view>