
<ion-view hide-nav-bar="true" view-title="Lista">
	<div class="iconsWrapper">
    <div class="iconsHolder">
      <div class="icon" id="addItem"></div>
      <div class="icon" id="save"></div>
    </div>
    <div class="iconSmallHolder">
      <a href="#/tab/search" class="linkSmall" id="linkBusca">
        <div class="textSmall">Busca</div>
        <div class="iconSmall" id="busca"></div>
      </a>
      <div class="linkSmall" id="linkLeitor">
        <div class="textSmall">Leitor Código de Barra</div>
        <div class="iconSmall" id="leitor" ng-click="scanBarcode()"></div>
      </div>
    </div>
  </div>

  <ion-content class="paginaLista">
  
  <div class="topo fixed">
  	<h1>Lista de compras</h1>
  </div>
  
  <ul class="lista listaNotChecked" id="listaBox">
  
    <li class="produto" ng-repeat="item in userList" on-last-repeat>
      <ul class="pecasLista">
        <li class="checkWrapper">
          <input type="checkbox" class="check" ng-checked="getCheckbox(item.checked)"/>
          <label></label>
        </li>
          <li class="nomeProduto">{{productName(item.idProduto)}}</li>
          <li class="qntdWrapper">
            <form action="">
              <input type="text" class="qntdInput" name="qntdInput[]" id="" placeholder="" maxlength="4" value="{{item.quantidade}}">
            </form>
            <span class="qntd"></span>
          </li>
          <li class="unid"><span id="unidPadrao">{{item.unidade}}</span></li>
        <a href="#/tab/product-detail" class="produtoLink" ng-click="getProductDetailId(item.idProduto)">
          <li class="gastoProduto"><span>{{waterFootprint(item.idProduto,item.quantidade)}}</span> lts</li>
        </a>
      </ul>
    </li>
  	
 <!--    <li class="produto">
  		<ul class="pecasLista">
  			<li class="checkWrapper">
  				<input type="checkbox" class="check"/>
  				<label></label>
  			</li>
        <a href="#/tab/product-detail" class="produtoLink">
    			<li class="nomeProduto">Cerveja 600mlas dasdas dasdaas das sd</li>
    			<li class="qntdWrapper">
    				<span class="qntd">6</span>
    			</li>
    			<li class="unid"><span id="unidPadrao">un</span></li>
          <li class="gastoProduto">1200 lts</li>
        </a>
  		</ul>
  	</li> -->
 
  </ul>

  <ul class="lista listaChecked">

   <!--  <li class="produto">
      <ul class="pecasLista">
        <li class="checkWrapper">
          <input type="checkbox" class="check" checked="checked"/>
          <label></label>
        </li>
          <li class="nomeProduto">Não está no Banco</li>
          <li class="qntdWrapper">
            <form action="">
              <input type="text" class="qntdInput" name="qntdInput[]" id="" placeholder="" maxlength="4" value="6">
            </form>
            <span class="qntd"></span>
          </li>
          <li class="unid"><span id="unidPadrao">un</span></li>
        <a href="#/tab/product-detail" class="produtoLink">
          <li class="gastoProduto">1200 lts</li>
        </a>
      </ul>
    </li> -->

  </ul>

  

  </ion-content>
  <div class="totalLista">
  	<div class="titulo">Total da Lista:</div>
  	<div class="litrosTotal">
  	<span id="litrosTotal">5340</span>
  	litros
  	</div>
  </div>
</ion-view>
