<ion-view hide-nav-bar="true" hide-back-button="true" view-title="Preferências">
  <ion-content class="logOutPage">
    <h1>Preferências</h1>
    <ion-toggle ng-model="pushNotification.checked" toggle-class="">Notificações Push</ion-toggle>
    <ion-toggle ng-model="aviate" toggle-class="">Som</ion-toggle>
    <a href="#/tab/list-edit-mode"><div class="tutorial">Rever Tutorial</div></a>
    <button ng-click="logOut()" class="botao logOut">Fazer Logout</button>

    <!-- <iframe src="http://awape.com.br/activity/" width="100%" height="100%"></iframe> -->
  </ion-content>
</ion-view>
