<ion-view  hide-nav-bar="true" ng-init="checkUser()">
        <ion-content class="padding-top loginPage">
          <div class="list text-center padding">
            <i class="icon ion-ios-game-controller-b larger positive"></i>
          </div>
          <form novalidate name="loginForm" ng-submit="loginForm.$valid && signIn(user)" class="formLogin">
          <div class="list">
            <label class="item item-input item-floating-label" ng-class="{ 'has-error' : loginForm.txtemail.$invalid && loginForm.$submitted }">
              <span class="input-label">E-mail</span>
              <input name="txtemail" type="email" ng-model="user.email" placeholder="E-mail"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtemail.$error" ng-if="loginForm.$submitted">
              <div class="form-error" ng-message="required">Campo obrigatório</div>
              <div class="form-error" ng-message="email">E-mail inválido</div>
            </div>
            <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : loginForm.txtPassword.$invalid && loginForm.$submitted }">
              <span class="input-label">Senha</span>
              <input name="txtPassword" type="password" ng-model="user.password" placeholder="Senha"
              ng-minlength="6"
              ng-maxlength="30"
              required>
            </label>
            <!-- Edit this messages if you want -->
            <div class="form-errors" ng-messages="loginForm.txtPassword.$error" ng-if="loginForm.$submitted">
            <div class="form-error" ng-message="required">Campo obrigatório</div>
            <div class="form-error" ng-message="minlength">A senha possui no mínimo 6 caracteres</div>
            <div class="form-error" ng-message="maxlength">A senha possui no máximo 30 caracteres</div>
            </div>
          </div>
          <div class="padding-top">
            <input type="submit" class="button button-block button-positive" value="Fazer login">
            <p class="text-center padding-top">
                <!-- <a href="#/forgot" class="button button-clear button-positive">Esqueci minha senha</a> -->
                <a href="#" onclick="window.open('http://awape.com.br/register/', '_blank', 'location=no', 'toolbar=no', 'closebuttoncaption=Finalizar');" class="button button-clear button-positive">Criar conta</a>
            </p>
          </div>
        </form>
        </ion-content>
</ion-view>
