/*Clear floats --- Apply on Father*/
.clearfix{display: inline-block;}
.clearfix:after{visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.display-none{display: none !important;}
/*Background Gradient*/
.pane, .view{background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);color: #545454;}

/*Alterar as fontes*/
body{font-family: "Open Sans" !important;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{font-family: "Open Sans" !important;}
input{font-family: "Open Sans";}
button{font-family: "Open Sans";}





/* --------    Login    -------- */

.loading-container .loading{display: none;}

.loginPage{background: rgba(94,202,219,1);
background: -moz-linear-gradient(-45deg, rgba(94,202,219,1) 0%, rgba(92,231,210,1) 50%, rgba(64,206,142,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(94,202,219,1)), color-stop(50%, rgba(92,231,210,1)), color-stop(100%, rgba(64,206,142,1)));
background: -webkit-linear-gradient(-45deg, rgba(94,202,219,1) 0%, rgba(92,231,210,1) 50%, rgba(64,206,142,1) 100%);
background: -o-linear-gradient(-45deg, rgba(94,202,219,1) 0%, rgba(92,231,210,1) 50%, rgba(64,206,142,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(94,202,219,1) 0%, rgba(92,231,210,1) 50%, rgba(64,206,142,1) 100%);
background: linear-gradient(135deg, rgba(94,202,219,1) 0%, rgba(92,231,210,1) 50%, rgba(64,206,142,1) 100%);}

.loginPage .scroll{display:none; width: 94%;margin: 5% 3%;background: white; padding: 0 15px; border-radius: 15px; height: 90%;}
.loginPage .list{ margin: 0; padding-bottom: 0;}
.loginPage .list .icon{display: block;position: relative;padding: 5px 0 0 0;}
.loginPage .list .icon:before{content:'';background: url('../img/logo_awape.png') no-repeat;width: 100%;height: 150px;background-size: contain;}
.loginPage form.formLogin{}
.loginPage form.formLogin .item-input{border:0;margin-bottom: 10px;border-bottom: 1px solid #cecece !important;}
.loginPage form.formLogin input.button{background: white;border: 1px solid #4dacbb;color: #4dacbb;width: 80%;margin: 10px 10%;font-weight: 600;border-radius: 10px;}
.loginPage form.formLogin a.button{color: #5dcadc; padding: 5px 10px 2px; border-bottom: 1px solid; min-height: 0; border-radius: 0; line-height: normal;}




/* --------    Tutorial    -------- */

.tutorial .slider{height: 100%}
.tutorial .slideBoxes{background: linear-gradient(135deg, rgba(94,202,219,0.5) 0%, rgba(92,231,210,0.5) 50%, rgba(64,206,142,0.5) 100%); background-repeat: no-repeat;width: 100%;height: 100%;background-size: contain;background-position: center;}
.tutorial .slidebox0 .pular{opacity:0; color: white; letter-spacing: 1px; font-style: italic; margin: 10px 0;}
.tutorial .slideBoxes .phoneImage{opacity: 0;width: 100%;height: 100%;background-size: contain;background-position: center;}

.tutorial .slidebox1 .phoneImage{background-image: url('../img/tutorial/pegada-hidrica.png');}
.tutorial .slidebox2 .phoneImage{background-image: url('../img/tutorial/lista.png');}
.tutorial .slidebox3 .phoneImage{background-image: url('../img/tutorial/home.png');}
.tutorial .slidebox5 .phoneImage{background-image: url('../img/tutorial/lista-busca.png');}

.tutorial .slidebox0, .tutorial .slidebox4{background-image: linear-gradient(135deg, rgba(94, 202, 219, 1) 0%, rgba(92,231,210,1) 50%, rgba(64, 206, 142, 1) 100%); background-repeat: no-repeat;width: 100%;height: 100%;background-size: contain;background-position: center;}

.tutorial .slidebox4 .tutorialWrapper{background: transparent;}
.tutorial .slidebox4 .tutorialWrapper .textoHolder{background: transparent;position: relative;bottom: initial;left: initial;width: 100%;height: 90%;border: 0;color: white;font-weight: 100;font-size: 1.1em;margin-top: 17vh;padding: 10%;box-shadow: none;}
.tutorial .slidebox4 .tutorialWrapper .textoHolder p{}
.tutorial .slidebox4 .tutorialWrapper .textoHolder p span{}
.tutorial .slidebox4 .tutorialWrapper .textoHolder p span#ah{font-size: 4em; font-style: normal; font-weight: 100; display: block; margin-bottom: 35px;}


.tutorial .slider-pager .slider-pager-page{color: white;}

/*   posicoes inicias para as animacoes   */
.tutorial .slidebox0 .tutorialWrapper .titulo p{opacity:0;}
.tutorial .slidebox1 .tutorialWrapper{opacity:0;}
.tutorial .slidebox1 .tutorialWrapper p{display: none;}
.tutorial .slidebox1 .tutorialWrapper button.botao{opacity: 0;}
.tutorial .slidebox2 .tutorialWrapper{opacity:0;}
.tutorial .slidebox2 .tutorialWrapper p{display: none;}
.tutorial .slidebox2 .tutorialWrapper button.botao{opacity: 0;}
.tutorial .slidebox3 .tutorialWrapper{opacity:0;}
.tutorial .slidebox3 .tutorialWrapper p{display: none;}
.tutorial .slidebox3 .tutorialWrapper button.botao{opacity: 0;}
.tutorial .slidebox4 .tutorialWrapper p{opacity: 0;}
.tutorial .slidebox4 .tutorialWrapper button.botao{opacity: 0;}
.tutorial .slidebox5 .tutorialWrapper{opacity:0;}
.tutorial .slidebox5 .tutorialWrapper p{display: none;}
.tutorial .slidebox5 .tutorialWrapper button.botao{opacity: 0;}

.tutorial .tutorialWrapper{width: 100%;height: 100%;text-align: center;background: rgba(255, 255, 255, 0.61);}
.tutorial .slidebox0 .tutorialWrapper{height: 100vh;color: white;text-align: center;padding: 7%;width: 100%;background: transparent;margin: 0;}
.tutorial .tutorialWrapper .logo{}
.tutorial .tutorialWrapper .titulo{color: white;font-weight: 100;text-align: center;margin: 11vh 0 7vh;font-size: 1.5em;line-height: 23px;}
.tutorial .tutorialWrapper .titulo span{opacity:0;font-size: 3em;display: block;margin: 0 0 50px;}

.tutorial .tutorialWrapper .textoHolder{background: #41d1b7;position: absolute;bottom: 33%;left: 5%;width: 90%;padding: 8% 5% 7%;border-radius: 12px;/* border: 1px solid #5e5e5e; *//* border-bottom: 4px solid #5e5e5e; */color: #ffffff;-webkit-box-shadow: -9px -8px 16px -10px rgba(0,0,0,0.6);}
.tutorial .slidebox0 .tutorialWrapper .textoHolder{font-size: 1.1em;font-weight: 100;padding: 5vh 0;border-top: 1px solid rgba(255, 255, 255, 0.5);background: transparent;border: 0;box-shadow: none;color: white;position: relative;bottom: initial;left: initial;width: 100%;}
.tutorial .tutorialWrapper .textoHolder p{opacity:0;margin: 0 0 5px;}
.tutorial .tutorialWrapper .textoHolder p span{font-weight: 600; font-style: italic; font-size: 0.95em;}
.tutorial .slidebox0 .tutorialWrapper .textoHolder .botao{opacity:0;width: 65%;margin: 9vh 17.5% 3vh;padding: 10px;border: 1px solid white;border-radius: 50px;background: rgba(255, 255, 255, 0.1);position: relative;color: white;}
.tutorial .slidebox4 .tutorialWrapper .botao{width: 50%;margin: 0vh -25% 0;padding: 10px;border: 1px solid white;border-radius: 50px;background: rgba(255, 255, 255, 0.1);/* position: relative; */color: white;bottom: 15%;}
.tutorial .tutorialWrapper .botao{width: 50%;margin: 10vh -25% 0;padding: 7px;border: 2px solid #21a48c;border-radius: 50px;background: #41d1b7;position: absolute;bottom: 8%;color: white;font-size: 1.2em;}
.tutorial .slidebox1 .tutorialWrapper .textoHolder p:last-child{font-size: 1.4em;}
.tutorial .slidebox5 .tutorialWrapper .textoHolder{bottom:25%;}

.tutorial .slider-pager{display: none;}

    /*degrade no texto*/
    /*background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/







/* --------    Menu    -------- */

ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-striped.tabs-color-active-positive .tab-item.activated{ border:0; height: 110%;}
.tab-title{display: none;}
.tab-item .icon{margin-top:4px;}
.tab-item.tab-item-active{margin-top:0;}
.tabs-striped .tabs{border: 0; border-top: 2px solid #ddd !important;}
.tab-item-active .icon{margin-top: 6px;}
.home-tab.tab-item-active{background: -webkit-linear-gradient(-45deg, rgba(93,208,217,1) 0%,rgba(93,233,209,1) 100%);}
.history-tab.tab-item-active{background: -webkit-linear-gradient(-45deg, rgba(93,218,215,1) 0%,rgba(90,237,201,1) 100%);}
.list-tab.tab-item-active{background: -webkit-linear-gradient(-45deg, rgba(93,228,211,1) 0%,rgba(85,234,190,1) 100%);}
.consumo-tab.tab-item-active{background: -webkit-linear-gradient(-45deg, rgba(91,235,205,1) 0%,rgba(78,226,174,1) 100%);}
.preferences-tab.tab-item-active{background: -webkit-linear-gradient(-45deg, rgba(89,236,196,1) 0%,rgba(71,216,158,1) 100%);}
.tabs .tab-item .icon.ion-ios-home {background-repeat: no-repeat;background-image: url(../img/svg-menu/homeActive.svg); background-size: cover; width: 62px; height: 62px; margin: -8px 0 0 5px;}
.tabs .tab-item .icon.ion-ios-home-outline {background-repeat: no-repeat;background-image: url(../img/svg-menu/homeInactive.svg); background-size: cover; width: 62px; height: 62px; margin: -8px 0 0 5px;}
.tabs .tab-item .icon.ion-ios-clock {background-repeat: no-repeat;background-image: url(../img/svg-menu/clockActive.svg);background-size: cover;width: 62px;height: 62px;margin: -7px 0 0 6px;}
.tabs .tab-item .icon.ion-ios-clock-outline {background-repeat: no-repeat;background-image: url(../img/svg-menu/clockInactive.svg); background-size: cover; width: 62px;height: 62px;margin: -9px 0 0 6px;}
.tabs .tab-item .icon.ion-ios-list {background-repeat: no-repeat;background-image: url(../img/svg-menu/cartActive.svg);background-size: cover;width: 65px;height: 47px;margin: -11px 0 0 4px;}
.tabs .tab-item .icon.ion-ios-list-outline {background-repeat: no-repeat;background-image: url(../img/svg-menu/cartInactive.svg);background-size: cover;width: 63px;height: 62px;margin: -13px 0 0 5px;}
.tabs .tab-item .icon.ion-ios-analytics {background-repeat: no-repeat;background-image: url(../img/svg-menu/footprintActive.svg); background-size: cover; width: 23px;height: 34px;margin: 3px 0 0 25px;}
.tabs .tab-item .icon.ion-ios-analytics-outline {background-repeat: no-repeat;background-image: url(../img/svg-menu/footprintInactive.svg);background-size: cover;width: 23px;height: 34px;margin: 1px 0 0 25px;}
.tabs .tab-item .icon.ion-ios-gear {background-repeat: no-repeat;background-image: url(../img/svg-menu/settingsActive.svg); background-size: cover; width: 62px; height: 62px; margin: -8px 0 0 5px;}
.tabs .tab-item .icon.ion-ios-gear-outline {background-repeat: no-repeat;background-image: url(../img/svg-menu/settingsInactive.svg);background-size: cover;width: 62px;height: 62px;margin: -10px 0 0 5px;}
/*Tirar os ícones padrões*/
.ion-ios-home:before, .ion-ios-home-outline:before, .ion-ios-clock:before, .ion-ios-clock-outline:before, .ion-ios-list:before, .ion-ios-list-outline:before, .ion-ios-analytics:before, .ion-ios-analytics-outline:before, .ion-ios-gear:before, .ion-ios-gear-outline:before{content: "";}




/* --------    Home    -------- */

.saudacao{background: white; width: 98%; height: 101px; margin: 2% auto 6%; border-radius: 50px; border-bottom: 3px solid #d2d2d2;}
.saudacao .fotoWrapper{width: 98px;height: 98px;float: left;/* background: white; */border-radius: 50px;margin-top: 1px;}
.saudacao .fotoWrapper .fotoUsuario{background: url(../img/usuario.png) no-repeat;background-size: cover;width: 100%;height: 100%;border-radius: 100px;}
.saudacao .nome{float: left; font-size: 1.5em; width: 66%; text-align: center; margin-top: 38px;}
.saudacao .nome span#nomeUsuario{}
.titulo{font-size: 1.4em; color: #2badca; font-weight: 600; padding: 5px 2% 8px;}
.box{width: 98%;margin: 0 auto 15px;background: white;border-bottom: 2px solid #d2d2d2;border-right: 1px solid #d2d2d2;border-radius: 10px;padding: 10px 15px 10px;}
.totais .total{margin: 10px 0 15px; height: 66px;}
.totais .total .icon{width: 66px; height: 66px; float: left;}
.totais .total#totalLista .icon{background: url(../img/sprite_layout.png) no-repeat -135px -57px;}
.totais .total#totalPHP .icon{background: url(../img/sprite_layout.png) no-repeat -38px -56px;margin-top: 9px;}
.totais .total .dados{width: 100%; padding: 8px 0 0 26%;}
.totais .total .dados .titulo{color: #545454;font-weight: 400;font-size: 1em;padding: 0 0 5px 0;letter-spacing: -0.25px;}
.totais .total .dados .valor{font-size: 1.8em;}
.totais .total#totalPHP .dados .valor span{font-size: 0.9em;}
.totais .total#totalPHP .dados .valor span#numero{font-size: 1em;}

.totais .total#totalLista .dados .valor span{font-size: 0.9em;}
.totais .total#totalLista .dados .valor span#numero{font-size: 1.4em;}

.totais .total#totalPHP .dados .diferenca{opacity:0; font-size: 0.8em; margin: 5px 0; margin-left: 1%; font-style: italic;}
.totais .total#totalPHP .dados .diferenca span{}
.totais .total#totalPHP .dados .diferenca span#porcent{font-size: 1.2em;}
.totais .total#totalPHP .dados .diferenca span#bomOuRuim{font-weight: 600;}

.dicasWrapper{padding-top: 5px;}
.dicasWrapper .dica{margin: 10px 0;}
.dicasWrapper .dica .dicaTexto{font-size: 1em;text-align: center;margin: 0 0 10px 0;}
.dicasWrapper .dica .dicaTexto span.produto{font-weight: 600;}
.dicasWrapper .dica .dicaTexto span#economia{color: #40ce8d; font-weight: 600; font-size: 1.1em;}
.dicasWrapper .dica .imagens{width: 100%; height: auto; margin-top: 17px;}
.dicasWrapper .dica .imagens .imgDicas{width: 100px; height: 100px; border-radius: 30px; border-bottom: 3px solid #d2d2d2;}
.dicasWrapper .dica .imagens .imgDicas#img01{background: url('../img/produtos/cafe.jpg') no-repeat; background-size: cover; background-position: center center; float: left;}
.dicasWrapper .dica .imagens .imgDicas#img02{background: url('../img/produtos/cha.jpg') no-repeat; background-size: cover; background-position: center center; float: right;}
.dicasWrapper .dica .imagens .icon{float: left; margin: 19px 0 0 5%;}
.dicasWrapper .dica .imagens .icon#troca{background: url('../img/sprite_layout.png') no-repeat -233px -57px; width: 74px; height: 58px;}




/* --------    Lista    -------- */

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left:0;
  /* top: 2px; */
  width: 23px;
  height: 24px;
  border: 2px solid #5dcadc;
  border-radius: 4px;
  /* margin: 0px 0 -6px 0px; */
  text-align: center;
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0px;
  width: 23px;
  height: 24px;
  background: url(../img/sprite_layout.png) no-repeat -345px -77px;
  border-radius: 4px;
  transition: all .5s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid #5dcadc;
}

{color: #545454;}
.topo{height: 90px; width: 100%; display: table;}
.topo h1{color: #545454;font-size: 1.7em;padding: 0 0 0 5%;display: table-cell;vertical-align: middle;}
.paginaLista .fixed{top: 0;}

.iconsWrapper{width: 73px;height: 76px;perspective: 800px;position: fixed;top: 1%;right: 3%;z-index: 999;}
.iconsWrapper .iconsHolder{transition: transform 0.5s;transform-style: preserve-3d;width: 100%;height: 100%;position: absolute;z-index: 99;=: -15%}
.iconsWrapper .iconsHolder .icon{display: block;height: 100%;width: 100%;backface-visibility: hidden;position: absolute;}
.iconsWrapper .iconsHolder .icon#addItem{background: url(../img/sprite_layout.png) no-repeat -428px -338px;}
.iconsWrapper .iconsHolder .icon#addItem .iconBg{/* background: url('../img/sprite_layout.png') no-repeat -427px -338px; */position:absolute;width: 100%;height: 100%;}
.iconsWrapper .iconsHolder .icon#addItem .iconAdd{background: url('../img/sprite_layout.png') no-repeat -423px -427px;position:absolute;width: 100%;height: 100%;transition: 0.5s all;}
.iconsWrapper .iconsHolder .icon#addItem .iconAdd.rotated{-webkit-transform: rotate(135deg);background-position: -423px -426px;}

.iconsWrapper .iconsHolder .icon#save{background: url('../img/sprite_layout.png') no-repeat -40px -279px;-webkit-transform: rotateY( 180deg );}
.iconsWrapper .iconsHolder.flipped{transform: rotateY( 180deg );}
.iconsWrapper .iconSmallHolder{width: 100%; height: 100%; position: absolute;}
.iconsWrapper .iconSmallHolder .linkSmall{position: absolute; color: white; top: 19%; left: 19%; width: 50px; height: 50px;transition: 0.15s all ease-in;}
.iconsWrapper .iconSmallHolder .textSmall{background: rgba(93, 202, 220, 0.81);padding: 2px 0;border-radius: 20px;position: absolute;color: white;top: 25%;right: 12%;transition: 0.15s all ease-in;/* transition-delay: 0.1s; */opacity: 0;}
.iconsWrapper .iconSmallHolder .linkSmall#linkLeitor .textSmall{right: 0%;top: 43%;padding: 0;/* background: white; */width: 150px;opacity: 0;}
.iconsWrapper .iconSmallHolder .iconSmall{width: 50px;height: 50px;position: absolute;top: 19%;left: 19%;transition: 0.15s all ease-in}
.iconsWrapper .iconSmallHolder .iconSmall#busca{background: url('../img/sprite_layout.png') no-repeat -176px -456px;top: 0;left: 0;}
.iconsWrapper .iconSmallHolder .iconSmall#leitor{background: url('../img/sprite_layout.png') no-repeat -176px -547px;left: 0;}

.iconsWrapper .iconSmallHolder .linkSmall.Active#linkBusca{top: 110%;}
.iconsWrapper .iconSmallHolder .linkSmall.Active#linkLeitor{top: 170%;}
.iconsWrapper .iconSmallHolder .linkSmall.Active#linkBusca .textSmall{padding: 2px 25px 2px 13px;right: 57%;opacity: 1;}
.iconsWrapper .iconSmallHolder .linkSmall.Active#linkLeitor .textSmall{padding: 2px 25px 2px 13px;right: 49%;background: rgba(93, 202, 220, 0.81);width: 197px;top: 43%;opacity: 1;}


ul.listaNotChecked{}
ul.lista{width: 95%;margin: 10px auto 0;background: white;border-right: 1px solid #d2d2d2;border-radius: 10px 10px 0 0;padding: 0 10px;}

ul.lista li.produto{font-size: 1em;padding: 16px 0;background: rgba(255, 255, 255, 0.7);border-bottom: 1px solid #efefef; transition:1s all;}
ul.lista li.produto.holding{padding: 10px 0;}

[type="checkbox"]:not(:checked) + label:before, [type="checkbox"]:checked + label:before{transition: 0.2s all;}
[type="checkbox"]:not(:checked) + label.holding:before{background: url(../img/trashIcon.png) no-repeat;border:0;}

ul.lista li.produto:last-child{border-bottom:0;}
ul.lista li.produto ul.pecasLista{display: table; width: 100%;}
ul.lista li.produto ul.pecasLista li{display: table-cell;vertical-align: middle;}
ul.lista li.produto ul.pecasLista .checkWrapper{width: 27px;}
ul.lista li.produto ul.pecasLista .checkWrapper .check{}
ul.lista li.produto ul.pecasLista .checkWrapper label{ font-size: 100%;}
ul.lista li.produto ul.pecasLista a{display: table-cell;vertical-align: middle;color: #545454;text-decoration: none;text-align: right;/* border-bottom: 1px solid #efefef; *//* padding: 10px 0; */width: 31%;}
ul.lista li.produto ul.pecasLista li.nomeProduto{padding: 0 3%;width: 42%; transition:1s all;}
ul.lista li.produto ul.pecasLista li.nomeProduto.holding{color: #f35858;}
ul.lista li.produto ul.pecasLista li.qntdWrapper form{display: block;/* vertical-align: middle; */}
ul.lista li.produto ul.pecasLista li.qntdWrapper input.qntdInput{opacity:1;width: 40px;text-align: center;color: #4ca6b5;border: 1px solid #5dcadc;border-radius: 12px 12px 3px 12px;font-size: 1.05em; transition: 1s all;}
ul.lista li.produto ul.pecasLista li.qntdWrapper input.qntdInput:focus{ color: #307f8c; border-color: #307f8c; font-weight: 600;}
ul.lista li.produto ul.pecasLista li.qntdWrapper input.qntdInput.fullLength{color: #f35858;
    border: 1px solid #f35858;}
ul.lista li.produto ul.pecasLista li.qntdWrapper input.qntdInput.holding{opacity:0;}
ul.lista li.produto ul.pecasLista li.qntdWrapper span{/* padding: 1px 9px 3px 10px; *//* border-radius: 20px 20px 5px 20px; *//* border: 1px solid #39acbf; *//* color: #39acbf; */}
ul.lista li.produto ul.pecasLista li.unid{opacity:1;/* margin: 0 0 0 -2px; */color: #39acbf; transition: 1s all;}
ul.lista li.produto ul.pecasLista li.unid.holding{opacity:0;}
ul.lista li.produto ul.pecasLista li.gastoProduto{opacity:1; transition: 1s all;}
ul.lista li.produto ul.pecasLista li.gastoProduto.holding{opacity:0;}
ul.lista li.produto ul.pecasLista li.gastoProduto::after{/* content: ">"; *//* color:#5dcadc; *//* font-size: 1.2em; *//* margin: 0 0 0 3px; */}
.ui-state-highlight{height: 3em !important; background:rgba(245, 245, 245, 0.72) !important; width: 107%; margin: 0 0 0 -3.5%; border-radius: 10px; border: 2px solid #e8e8e8 !important; border-color:#e8e8e8; }
ul.listaChecked{border-radius: 0 0 10px 10px; border-top: 2px solid #d4d4d4; border-bottom: 2px solid #d2d2d2; background:#fff;}
ul.listaChecked li.produto{background: transparent;}
ul.listaChecked li.produto ul.pecasLista li.nomeProduto{color: #9a9a9a; font-weight: 300; text-decoration: line-through;}
ul.listaChecked li.produto ul.pecasLista li.qntdWrapper span.qntd{border-color: #bdbdbd; color: #bdbdbd;}
ul.listaChecked li.produto ul.pecasLista li.unid{color: #bdbdbd;}
ul.listaChecked li.produto ul.pecasLista  li.gastoProduto{font-weight: 500; color: #b1b1b1;}
.totalLista{width: 100%; position: fixed; bottom: 0; height: 50px; background: #5dcadc; display: table; margin-bottom: 49px;}
.totalLista .titulo{display: table-cell; vertical-align: middle; color: white;  font-weight: 300; padding: 0 0 0 6%;}
.totalLista .litrosTotal{display: table-cell; vertical-align: middle; font-size: 1.4em; color: white; font-weight: 300; text-align: right; padding-right: 6%;}
.totalLista .litrosTotal span#litrosTotal{font-size: 1.2em; font-weight: 400;}

ul.lista li.produto ul.pecasLista li.unid{/* margin: 0 0 0 -2px; *//* color: #39acbf; */width: 5%;}
ul.lista li.produto ul.pecasLista li.unid span#unidPadrao{}
ul.lista li.produto ul.pecasLista li.gastoProduto{/* margin: 1px 0 0 0; */text-align: right;display: block;}
ul.lista li.produto ul.pecasLista li.gastoProduto::after{content: ">";color:#5dcadc;font-size: 1.3em;margin: 0 0 0 3px;}
.ui-state-highlight{height: 3em !important; background:rgba(245, 245, 245, 0.72) !important; width: 107%; margin: 0 0 0 -3.5%; border-radius: 10px; border: 2px solid #e8e8e8 !important; border-color:#e8e8e8; }
ul.listaChecked{border-radius: 0 0 10px 10px;border-top: 2px solid #d4d4d4;border-bottom: 2px solid #d2d2d2;margin-bottom: 80px;margin-top: 0;}
ul.listaChecked li.produto{background: transparent;opacity: 0.5;}
ul.listaChecked li.produto ul.pecasLista li.nomeProduto{color: #9a9a9a; font-weight: 300; text-decoration: line-through;}
ul.listaChecked li.produto ul.pecasLista li.qntdWrapper span.qntd{border-color: #bdbdbd; color: #bdbdbd;}
ul.listaChecked li.produto ul.pecasLista li.unid{color: #bdbdbd;}
ul.listaChecked li.produto ul.pecasLista  li.gastoProduto{font-weight: 500; color: #b1b1b1;}
.totalLista{width: 90%;position: fixed;bottom: 0;height: 50px;background: #5dcadc;display: table;margin: 0 5%;margin-bottom: 67px;border-radius: 56px;}
.totalLista .titulo{display: table-cell;vertical-align: middle;color: white;font-weight: 300;padding: 0 0 0 6%;font-size: 1.25em;}
.totalLista .litrosTotal{display: table-cell; vertical-align: middle; font-size: 1.4em; color: white; font-weight: 300; text-align: right; padding-right: 6%;}
.totalLista .litrosTotal span#litrosTotal{font-size: 1em;font-weight: 400;}

.deletaProdutoWrapper{display:none;width:100%;height: 2000%;background: rgba(0, 0, 0, 0.3);position:fixed !important;top: 0;left: 0;z-index: 99999;}
.deletaProdutoWrapper .deletaProduto{display: block;width:90%;left:5%;position: fixed !important;top: 35%;padding: 16px 25px;background: white;border-radius: 10px;border-bottom: 2px solid #d2d2d2;border-right: 1px solid #d2d2d2;z-index: 9999;text-align: center;}
.deletaProdutoWrapper .deletaProduto .titulo{padding: 0 0 10px;}
.deletaProdutoWrapper .deletaProduto .texto{font-size: 1.2em;}
.deletaProdutoWrapper .deletaProduto .texto span{font-weight: 600;}
.deletaProdutoWrapper .deletaProduto .botoes{width: 100%;}
.deletaProdutoWrapper .deletaProduto .botoes .botao{width: 41%;padding: 7px 0;border-radius: 15px;display: inline-block;margin: 20px 4% 0;color: white;font-size: 1.2em;}
.deletaProdutoWrapper .deletaProduto .botoes .botao#nao{/* background: #717171; */border: 1px solid #717171;color: grey;}
.deletaProdutoWrapper .deletaProduto .botoes .botao#sim{
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(93,214,216,1)), color-stop(51%, rgba(92,232,209,1)), color-stop(100%, rgba(85,233,189,1)));
  background: -webkit-linear-gradient(-45deg, rgba(93,214,216,1) 0%, rgba(92,232,209,1) 51%, rgba(85,233,189,1) 100%);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(93,202,220,1);
}


/* --------    Histórico    -------- */

li.historyWrapper:first-child .gambs{width: 9px;height: 25px;position: absolute;background: #fdfdfd;top: 0;left: -6px;}
ul.historyContainer{width: 100%; height: auto;}
ul.historyContainer li.historyWrapper{width: 96%;margin: 0 0 0 5%;border-left: 4px solid #2badca;padding: 0 0 35px 0;position: relative;}
ul.historyContainer li.historyWrapper ul.lista{width: 92%;margin-left: 4%;border-radius: 10px;padding: 15px 8px;border-bottom: 3px solid #d2d2d2;margin: 0 auto;}
ul.historyContainer li.historyWrapper ul.lista li.tituloMes{font-size: 1.2em; color: #2badca;}
ul.historyContainer li.historyWrapper ul.lista li.dados{padding: 13px 0 8px 3%;border-bottom: 1px solid #e5e5e5;}
ul.historyContainer li.historyWrapper ul.lista li.dados ul.dadosTotalCompra{width: 100%;display: inline-block;/* margin-right: 2%; *//* border-right: 1px solid #e4e4e4; */}
ul.historyContainer li.historyWrapper ul.lista li.dados .titulo{font-size: 0.95em;color: #545454;padding: 0;letter-spacing: -0.3px;display: inline-block;}
ul.historyContainer li.historyWrapper ul.lista li.dados .valor{
    display: inline-block;
}
ul.historyContainer li.historyWrapper ul.lista li.dados .valor span#litros{}
ul.historyContainer li.historyWrapper ul.lista li.dados ul.dadosTotalPegada{width: 43%; display: inline-block;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory{padding: 0 0 0 3%;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory ul.informacao{padding-top: 13px;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory ul.informacao li.icon{width: 28px;height: 28px;display: inline-block;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory ul.informacao li#iconPositivo{background: url('../img/sprite_layout.png') no-repeat -154px -197px;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory ul.informacao li#iconNegativo{background: url('../img/sprite_layout.png') no-repeat -206px -198px;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory ul.informacao li.infoTexto{display: inline-block;width: 80%;line-height: 16px;font-style: italic;margin-left: 2%;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory ul.informacao li.infoTexto span#mudancaPositiva{color: #40ce8d;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory ul.informacao li.infoTexto span#mudancaNegativa{color: #f3989f;}
ul.historyContainer li.historyWrapper ul.lista li.itemHistory ul.informacao li.infoTexto span#litros{}
ul.historyContainer li.historyWrapper .bolinhaHistory{width: 13px;height: 13px;position: absolute;background: #2badca;top: 20px;left: -8.5px;border-radius: 10px;}



/* --------    Pegada Hídrica    -------- */

.pageWrapper{width: 94%;height: auto;background-color: white;text-align: center;border-radius: 15px;border-bottom: 2px solid #d2d2d2;border-right: 1px solid #d2d2d2;padding: 0 15px;/* background-image: url("../img/calculo-pegada-hidrica/pegada-01.png"); *//* background-size: contain; *//* background-repeat: no-repeat; */background-position: 0 89%;margin: 0 3% 15px;}
.pageWrapper .tituloCategoria{font-size: 2em;color: #40ce8d;padding: 11px;margin: 10px 12%;border-bottom: 2px solid #40ce8d;}
.pageWrapper .perguntaWrapper{/* margin: 10px 0 20px; */padding: 10px 0 20px;border-bottom: 1px solid #eaeaea;}
.pageWrapper .perguntaWrapper .pergunta{font-size: 1.2em;padding: 15px 0;letter-spacing: -0.4px;}
.pageWrapper .perguntaWrapper .pergunta span.produto{color: #40ce8d;font-weight: 600;letter-spacing: 0.75px;}
.pageWrapper .perguntaWrapper .pergunta span.unidade{display: block;font-style: italic;font-size: 0.85em;}
.pageWrapper .perguntaWrapper form{height: 60px;position: relative;}
.pageWrapper .perguntaWrapper form input.resposta{width: 100%;height: 100%;border: 1px solid #d2d2d2;border-radius: 5px;padding: 5px 7%;}
.pageWrapper .perguntaWrapper form .resultadoItem{display:none;position: absolute;top: 0;right: 0;width: 40%;border: 1px solid #5ecbdb;border-left-width: 3px;height: 100%;border-radius: 0 5px 5px 0;text-align: center;color: #5ecbdb;font-style: italic;background: white;}
.pageWrapper .perguntaWrapper form .resultadoItem #litrosItem{display: block;line-height: 14px;margin-top: 12px;font-size: 1.3em;font-style: normal;}
.slidebox1 .pageWrapper .perguntaWrapper form .resultadoItem{color: #5ceacf; border-color: #5ceacf;}
.slidebox2 .pageWrapper .perguntaWrapper form .resultadoItem{color: #40ce8d; border-color: #40ce8d;}

.pageWrapper .resultadoCategoria{display:none;width: 100%;/* border-bottom: 1px solid #5ecbdb; */height: 100%;text-align: center;color: #545454;font-style: italic;font-size: 1.3em;margin: 15px 0;/* padding: 10px 0; */}
.pageWrapper .resultadoCategoria #litrosCategoria{/* display: block; */line-height: 25px;font-size: 1.4em;font-style: normal;/* color: #40ce8d; */}

.pageWrapper .resultadoTotalWrapper {display: none; position: absolute; width: 100%; height: 300%; top: 0; left: 0; background: rgba(255, 255, 255, 0.75); z-index: 9999;}
.pageWrapper .resultadoTotalWrapper .resultadoTotal{position: absolute;width: 94%;padding: 40px 15px;background: white;z-index: 99;border: 3px solid #51e4b4;border-radius: 10px;top: 26.5%;font-size: 1.3em;line-height: 31px;left: 3%;border-bottom: 6px solid #51e4b4;}
.pageWrapper .resultadoTotalWrapper .resultadoTotal span{font-size: 1.3em;}

.minhaPegada .ion-navicon.centerButton{margin: 10px 25% 25px;width: 50%;padding: 0;}
.minhaPegada .ion-navicon.leftButton{/* width: 29%; */display: inline-block;margin-top: 10px;margin-left: 3%;}
.minhaPegada .ion-navicon.rightButton{width: 35%; float: right; margin-top: 20px; margin-right: 10%;}
.minhaPegada .ion-navicon.hasLeft{display: inline-block; margin-left: 5%; margin-right: 0;}
.minhaPegada .ion-navicon:before{background: #51e4b4;font-family: 'Open Sans';color: white;font-size: 1.5em;border-radius: 50px;width: 100%;padding: 3px 0;}
.minhaPegada .ion-navicon.leftButton:before{background: transparent;color: #8a8a8a;font-size: 0.9em;font-style: italic;border-bottom: 1px solid #d6d6d6;border-radius: 0;padding-top: 15px;line-height: 14px;}
.minhaPegada .ion-navicon.next:before{content: 'Avançar';}
.minhaPegada .ion-navicon.previous:before{content: 'Voltar';}
.minhaPegada .ion-navicon.finish:before{content: 'Concluir';}

.slidebox0 .pageWrapper .tituloCategoria{color:#5ecbdb; border-bottom: 2px solid #5ecbdb;}
.slidebox0 .pageWrapper .perguntaWrapper .pergunta span.produto{color: #5ecbdb;}
.minhaPegada .slidebox0 .ion-navicon:before{background: #5ecbdb;}

.slidebox1 .pageWrapper .tituloCategoria{color:#5ceacf; border-bottom: 2px solid #5ceacf;}
.slidebox1 .pageWrapper .perguntaWrapper .pergunta span.produto{color: #5ceacf;}
.minhaPegada .slidebox1 .ion-navicon.next:before{background: #5ceacf;}



/* --------    Produto    -------- */

a.voltarLink{color: #585858;text-decoration: none;position: fixed;background: url('../img/sprite_layout.png') no-repeat -55px -504px;width: 50px;height: 50px;z-index: 9;bottom: 12%;left: 43%;}
.produtoPage{}
.produtoPage a.voltarLink .voltarLista{width: 100%;background: #e4e4e4;padding: 7px 3%;text-align: center;}
.produtoPage .produtoWrapper{width: 95%;margin: 20px auto;border-radius: 12px;border-bottom: 2px solid #d2d2d2;border-right: 1px solid #d2d2d2;background: white;padding: 0 0 10px 0;}
.produtoPage .fotoWrapper{width: 100%;height: 180px;}
.produtoPage .fotoWrapper .fotoProduto{/* background: url(../img/produtos/pizza.jpg) no-repeat; */background-size: cover;width: 100%;height: 100%;background-position: center center;border-radius: 10px 10px 0 0;opacity: 0.6;}
.produtoPage .infosProduto{}
.produtoPage .infosProduto .nomeProduto{text-align: center; font-size: 2em; margin: 10px 0;}
.produtoPage .infosProduto .gastoProduto{ text-align: center; font-style: italic; font-size: 1.1em;}
.produtoPage .infosProduto .gastoProduto span#litrosGastos{}
.produtoPage .infosProduto .tiposAgua{margin: 25px auto; display: none;}
.produtoPage .infosProduto .tiposAgua .aguaIndividual{display: inline-block;width: 29.5%;margin-right: 3%;position: relative;}
.produtoPage .infosProduto .tiposAgua .aguaIndividual:last-child{margin-right: 0}
.produtoPage .infosProduto .tiposAgua .aguaIndividual .icon{background: url(../img/produtos/aguaIcon.png) no-repeat;background-size: contain;height: 70px;width: 70px;display: inline-block;margin: 0 17%;z-index: 9999;position: relative;}
.produtoPage .infosProduto .tiposAgua .aguaIndividual .bgIcon{width: 65px;left: 20px;bottom: 50px;position: absolute;z-index: 9;}
.produtoPage .infosProduto .tiposAgua .aguaIndividual#aguaAzul .bgIcon{background-color:#5dcadc;}
.produtoPage .infosProduto .tiposAgua .aguaIndividual#aguaVerde .bgIcon{background-color:#40ce8d;}
.produtoPage .infosProduto .tiposAgua .aguaIndividual#aguaCinza .bgIcon{background-color:#d4d4d4;}
.produtoPage .infosProduto .tiposAgua .aguaIndividual .valor{text-align: center;}
.produtoPage .infosProduto .tiposAgua .aguaIndividual .valor span#porcentagemAgua{font-size: 1.5em;}
.produtoPage .recomendacao{width: 90%;margin: 25px auto;padding: 5px 0 0 0;border-top: 1px solid #d2d2d2;}
.produtoPage .recomendacao .titulo{text-align: center;padding: 5px 0 0;margin-bottom: 10vh;}
.produtoPage .recomendacao .produtoRecom{width: 49%;display: inline-block;margin-top: 3vh;}
.produtoPage .recomendacao .produtoRecom .fotoWrapper{height: 100px; width: 100px; margin: 0 auto;}
.produtoPage .recomendacao .produtoRecom .fotoWrapper .fotoProduto{border-radius: 30px; opacity: 0.9;}
.produtoPage .recomendacao .produtoRecom .infosProduto{text-align: center;}
.produtoPage .recomendacao .produtoRecom .infosProduto .gastoProduto{font-size: 0.9em;}
.produtoPage .recomendacao .produtoRecom .infosProduto .gastoProduto span#litrosGastos{}
.produtoPage .recomendacao .produtoRecom .infosProduto .diferencaProds{color: #40ce8d;font-size: 1.1em;font-weight: 600;margin: 2px 0;}
.produtoPage .recomendacao .produtoRecom .infosProduto .diferencaProds span#litrosDiferenca{}
.produtoPage .recomendacao .produtoRecom .infosProduto .nomeProduto{font-size: 1.2em;margin: 5px 0 0;}
.infoAgua{display: none;width:90%;left:5%;position: absolute;top: 18%;padding: 15px 25px;background: white;border-radius: 10px;border-bottom: 2px solid #d2d2d2;border-right: 1px solid #d2d2d2;z-index: 9999;}
.infoAgua .titulo{padding: 0 0 10px;}
.infoAgua#infoVerde .titulo{color:#40ce8d;}
.infoAgua#infoCinza .titulo{color:#727272;}
.infoAgua .texto{}

.produtoPage .trocaProdutoWrapper{display:none;width:100%;height: 2000%;background: rgba(0, 0, 0, 0.21);position:fixed !important;top: 0;left: 0;z-index: 99999;}
.produtoPage .trocaProdutoWrapper .trocaProduto{display: block;width:90%;left:5%;position: fixed !important;top: 105%;padding: 16px 25px;background: white;border-radius: 10px;border-bottom: 2px solid #d2d2d2;border-right: 1px solid #d2d2d2;z-index: 9999;text-align: center;}
.produtoPage .trocaProdutoWrapper .trocaProduto .titulo{padding: 0 0 10px;}
.produtoPage .trocaProdutoWrapper .trocaProduto .texto{font-size: 1.2em;}
.produtoPage .trocaProdutoWrapper .trocaProduto .texto span{font-weight: 600;}
.produtoPage .trocaProdutoWrapper .trocaProduto .botoes{width: 100%;}
.produtoPage .trocaProdutoWrapper .trocaProduto .botoes .botao{width: 41%;padding: 7px 0;border-radius: 15px;display: inline-block;margin: 20px 4% 0;color: white;font-size: 1.2em;}
.produtoPage .trocaProdutoWrapper .trocaProduto .botoes .botao#nao{/* background: #717171; */border: 1px solid #717171;color: grey;}
.produtoPage .trocaProdutoWrapper .trocaProduto .botoes .botao#sim{
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(93,214,216,1)), color-stop(51%, rgba(92,232,209,1)), color-stop(100%, rgba(85,233,189,1)));
  background: -webkit-linear-gradient(-45deg, rgba(93,214,216,1) 0%, rgba(92,232,209,1) 51%, rgba(85,233,189,1) 100%);
  -webkit-box-shadow: 2px 2px 3px 0px rgba(93,202,220,1);
}


/* --------    Busca    -------- */

.buscaPage{}
.buscaPage form.buscaForm{width: 92%;display: block;margin: 10px 4% 20px;background: white;border: 1px solid #cccccc;padding: 17px 25px;border-radius: 50px;}
.buscaPage form input.buscaField{width: 80%;}
.buscaPage form .iconsWrapper{top: -0.9%;right: 3%;}
.buscaPage form .iconsWrapper .icon#buscaIcon{background: url('../img/sprite_layout.png') no-repeat -297px -335px;width: 73px;he;height: 76px;}

.buscaPage ul.listaBusca [type="checkbox"]:not(:checked) + label:before, .buscaPage ul.listaBusca [type="checkbox"]:checked + label:before{background: url(../img/sprite_layout.png) no-repeat -386px -77px; border: 0;}
.buscaPage ul.listaBusca [type="checkbox"]:not(:checked) + label:after, .buscaPage ul.listaBusca [type="checkbox"]:checked + label:after{border: 0; top: 0; background: url(../img/sprite_layout.png) no-repeat -427px -77px;}
.buscaPage ul.listaBusca [type="checkbox"]:checked:focus + label:before,
.buscaPage ul.listaBusca [type="checkbox"]:not(:checked):focus + label:before {border:0;}

.buscaPage ul.listaNotChecked{border-radius: 10px; border-bottom: 2px solid #d2d2d2;}
.buscaPage ul.listaBusca{width: 95%;margin: 10px auto 0;background: white;border-right: 1px solid #d2d2d2;border-radius: 10px;padding: 0 10px;}

.buscaPage ul.listaBusca li.produtoBusca{font-size: 1em;padding: 16px 0;background: rgba(255, 255, 255, 0.7);border-bottom: 1px solid #efefef;}
.buscaPage ul.listaBusca li.produtoBusca:last-child{border-bottom:0;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista{display: table; width: 100%;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista li{display: table-cell;vertical-align: middle;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista .checkWrapper{width: 27px;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista .checkWrapper .check{}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista .checkWrapper label{ font-size: 100%;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista a{display: table-cell;vertical-align: middle;color: #545454;text-decoration: none;text-align: right;/* border-bottom: 1px solid #efefef; *//* padding: 10px 0; */width: 31%;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista li.nomeProduto{padding: 0 3%;width: 42%;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista li.qntdWrapper form{display: block;/* vertical-align: middle; */}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista li.qntdWrapper input.qntdInput{width: 40px;text-align: center;color: #4ca6b5;border: 1px solid #5dcadc;border-radius: 12px 12px 3px 12px;font-size: 1.05em; transition: 1s all;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista li.qntdWrapper input.qntdInput:focus{ color: #307f8c; border-color: #307f8c; font-weight: 600;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista li.qntdWrapper span{/* padding: 1px 9px 3px 10px; *//* border-radius: 20px 20px 5px 20px; *//* border: 1px solid #39acbf; *//* color: #39acbf; */}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista li.unid{/* margin: 0 0 0 -2px; */color: #39acbf;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista  li.gastoProduto{float:right;}
.buscaPage ul.listaBusca li.produtoBusca ul.pecasLista  li.gastoProduto::after{/* content: ">"; *//* color:#5dcadc; *//* font-size: 1.2em; *//* margin: 0 0 0 3px; */}
.buscaPage .ui-state-highlight{height: 3em !important; background:rgba(245, 245, 245, 0.72) !important; width: 107%; margin: 0 0 0 -3.5%; border-radius: 10px; border: 2px solid #e8e8e8 !important; border-color:#e8e8e8; }

.buscaPage li.ops{font-style: italic; text-align: center; color: #a5a5a5; padding: 15px 0;}
.buscaPage li.ops .textoOps{}
.buscaPage li.ops .textoOps span{display: block; font-size: 2em; margin-bottom: 10px; font-weight: 100;}



/* --------    Settings    -------- */

.logOutPage h1{color: #545454;font-size: 1.7em;padding: 8% 0 0 5%;margin: 0 0 20%;}
.logOutPage button.botao.logOut{background: transparent;border: 1px solid #4dacbb;color: #4dacbb;width: 80%;margin: 10px 10%;font-weight: 600;border-radius: 10px;padding: 10px;}
.toggle-small .track{background: #d5d5d5; border: 1px solid #cccccc;}
.toggle-small input:checked + .track{background: #4adba7; border: 1px solid #4fd09f;}
.toggle-small input:checked + .track .handle{background: #38c891;}
.logOutPage .item{border:0;margin: 10% auto;background: transparent;border-bottom: 1px solid #53aebc;width: 80%;}
.logOutPage .item div span{color: #545454;}
.logOutPage .tutorial{text-align: center;width: 54%;margin: 0 24% 4vh;padding: 10px 0;color: #48d9a1;border-bottom: 2px solid #48d9a1;}
.logOutPage .tutorial:after{content:'>';margin-left: 10px;font-weight: 800;}
.logOutPage a{text-decoration: none;}



/* ====================================== Firebase pages ============== */

.larger {font-size: 120px;}
.medium {font-size: 30px;}

/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {border-bottom: 2px solid red;}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {border-bottom: 2px solid red;}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {border-left: 2px solid green;border-right: 2px solid green;}

/** Styling for the error text and container **/
.form-errors {margin: 5px 0}
.form-error {padding: 2px 0 2px 16px; color: red;}
 #profile-image {display: block;border-radius: 100px;border: 1px solid #fff;width: 128px;height: 128px;margin: 30px auto 0;box-shadow: 0px 0px 4px rgba(0,0,0,0.7);}